@model IEnumerable<TheRestaurant.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recipes</h2>
@if (!Model.Any())
{
    <p>There are no recipes in the restaurant yet</p>
}
else
{
    <table id="recipes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Dish type</th>
                <th>Date added</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model)
            {
                <tr>
                    <td>@Html.ActionLink(recipe.Name, "Details", "Recipes", new { id = recipe.Id }, null)</td>
                    <td>@recipe.DishType.Name</td>
                    <td>@recipe.DateAdded.ToLongDateString()</td>
                    <td>
                        <button data-recipe-id="@recipe.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
</table>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#recipes").DataTable();

            $("#recipes").on("click", ".js-delete", function () {
                var button = $(this);

                if (confirm("Are you sure you want to delete this recipe?")) {
                    $.ajax({
                        url: "/api/recipes/" + button.attr("data-recipe-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    })
                }
            });
        });
    </script>    
}